.p-100 {
  padding: 100px !important;
  @include media-breakpoint-down(md) {
    padding: 48px !important;
  }
}
.pt-100 {
  padding-top: 100px !important;
  @include media-breakpoint-down(md) {
    padding-top: 48px !important;
  }
}
.pb-100 {
  padding-bottom: 100px !important;
  @include media-breakpoint-down(md) {
    padding-bottom: 48px !important;
  }
}
.pe-100 {
  padding-right: 100px !important;
  @include media-breakpoint-down(md) {
    padding-right: 48px !important;
  }
}
.ps-100 {
  padding-left: 100px !important;
  @include media-breakpoint-down(md) {
    padding-left: 48px !important;
  }
}
.p-70 {
  padding: 70px !important;
  @include media-breakpoint-down(md) {
    padding: 32px !important;
  }
}
.pt-70 {
  padding-top: 70px !important;
  @include media-breakpoint-down(md) {
    padding-top: 32px !important;
  }
}
.pb-70 {
  padding-bottom: 70px !important;
  @include media-breakpoint-down(md) {
    padding-bottom: 32px !important;
  }
}
.pe-70 {
  padding-right: 70px !important;
  @include media-breakpoint-down(md) {
    padding-right: 32px !important;
  }
}
.ps-70 {
  padding-left: 70px !important;
  @include media-breakpoint-down(md) {
    padding-left: 32px !important;
  }
}
